<div class="main-container">
  <app-header></app-header>
  <main class="main">
    <app-title></app-title>
    <div class="container main-container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-inline list-unstyled requests">
                    <li><a href="#" class="btn btn-primary">Home</a></li>
                    <li><button type="button" class="btn btn-default" ng-click="vm.login()">Login</button></li>
                    <li><button type="button" class="btn btn-default" ng-click="vm.callApi()">Call API</button></li>
                    <li><button type="button" class="btn btn-danger" ng-click="vm.logout()">Logout</button></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">User data</div>
                    <div class="panel-body">
                        <pre>{{vm.user}}</pre>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">API call result</div>
                    <div class="panel-body">
                        <pre>{{vm.apiResult}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>